In [13]:
a=10 #integer
b=3.142 #float
c=10+6j #in the form of a+bj complex numbers
print(a)

10

In [2]:
a=10 #integer
b=3.142 #float
c=10+6j #in the form of a+bj complex numbers
print(int(b),float(a),str(c))

3 10.0 (10+6j)

In [3]:
#List - square brackets
myList=["3","10.6","cherry"]
print(myList)

['3', '10.6', 'cherry']

In [5]:
#Tuple - round brackets
mytuple=("3","10.6","cherry")
print(mytuple)

('3', '10.6', 'cherry')

In [6]:
#dictionary -curly braces
mydict={
    "brand":"Ford",
    "model":"Mustang",
    "Year":"2022"
}
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'Year': '2022'}

In [8]:
#Set
a={1,2,3,4,4,4}
b={3,4,5,6}
print(a,b)

{1, 2, 3, 4} {3, 4, 5, 6}

In [10]:
#Arithmetic Operators
x=6
y=3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

9
3
18
2.0
0
2
216

In [11]:
#Assignment Operator
a = 2
print(a)

#Short-hand operator
x+=2 #x=x+3
print(x)

2
8

In [15]:
#Comparison Operator
x=5
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [19]:
#Identity Operator
x=["white","black"]
y=["white","black"]
z=x
print(x is z) #returns True, z is same as object x
print(x is y) #returns False, y is not same as object x as declarations are different
print(x == y) #returns True

#Equals comparison takes for value, but 'is' comparison takes for object declaration
print("Comparing for is not")
print(x is not z) #returns False, z is same as object x
print(x is not y) #returns True, y is not same as object x as declarations are different
print(x != y) #returns False

True
False
True
Comparing for is not
False
True
False

In [20]:
#Membership Operator (x in y)
x=["white","black"]
a="black"
print(a in x) #returns True, a is a part of object x
print(a not in x) #returns False

True
False

In [24]:
#Loops
#while loop
i=1
while(i<6):
    print(i)
    i+=1 #i=i+1

1
2
3
4
5

In [23]:
#break statement
i=1
while(i<6):
    print(i)
    if(i==3):
        break
    i+=1 #i=i+1

1
2
3

In [26]:
#continue statement
i=0
while(i<6):
    i+=1 #i=i+1
    if(i==3):
        continue
    print(i) # 3  is missing

1
2
4
5
6

In [28]:
#For loops
colors = ["white","black","red"]
for x in colors:
    print(x)

white
black
red

In [30]:
for y in "Meghana":
    print(y)

M
e
g
h
a
n
a

In [31]:
#Break statement
colors = ["white","black","red"]
for x in colors:
    print(x)
    if(x=="black"):
        break

white
black

In [32]:
#Continue statement
colors = ["white","black","red"]
for x in colors:
    if(x=="black"):
        continue
    print(x)

white
red

In [33]:
#Range function
for x in range(8): #starts from 0 by default & increments by 1 by default
    print(x)

0
1
2
3
4
5
6
7

In [34]:
#Range function
for x in range(3,8): #starts from 3 & increments by 1 by default
    print(x)

3
4
5
6
7

In [35]:
#Range function
for x in range(2,11,2): #starts from 2 & increments by 2
    print(x)

2
4
6
8
10

In [36]:
#Python Functions
def my_function(): #create a func
    print("Hello from function.")
    
#calling a function
my_function()

Hello from function.

In [38]:
#Arguments func
def my_function(fname): #create a func
    print(fname+"Raj")
    
#calling a function
my_function("Meghana")
my_function("Himanshi")
my_function("Bharti")

MeghanaRaj
HimanshiRaj
BhartiRaj

In [44]:
!python --version

Python 3.6.4 :: Anaconda, Inc.

In [45]:
#python program to display the version
import sys
print("Python version")
print(sys.version)
print("Version info")
print(sys.version_info)

Python version
3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]
Version info
sys.version_info(major=3, minor=6, micro=4, releaselevel='final', serial=0)

In [48]:
import datetime
now=datetime.datetime.now()
print("Current date and time :",now)
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time : 2022-02-07 14:49:02.609069
2022-02-07 14:49:02

In [51]:
#Python program to find area of a circle
from math import pi
r=float(input("Input the radius of the circle: "))
print("The area of the circle with radius "+str(r)+" is "+str(pi * r**2))

Input the radius of the circle: 7
The area of the circle with radius 7.0 is 153.93804002589985

In [52]:
#Python program to display the name in the reverse order
fname=input("Input your First name: ")
lname=input("Input your Last name:")
print("Hi "+lname+" "+fname)

Input your First name: Lata
Input your Last name:Mangeshkar
Hi Mangeshkar Lata

In [53]:
#Python program that accepts integer(n) and computes the the value n+nn+nnn
a=int(input("Input an Integer: "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print(n1+n2+n3)

Input an Integer: 2
246

In [54]:
m = input()
m1 = m+m
m2 = m1+m
print(int(m) + int(m1) + int(m2))

2
246

In [56]:
#Python program to display first and last color of the list
l1=["white","red","blue","Green","Yellow","Black"]
print(l1[0],l1[len(l1)-1])

white Black

In [60]:
#Python code to display the exam schedule date
from datetime import date,timedelta
t = date.today()+timedelta(1)
print("exam date:", t)

exam date: 2022-02-08

In [61]:
file=input("Enter the File name")
print(file.split(".")[-1])

Enter the File nametest.docx
docx

## Functions

In [9]:
#python abs() function

integer = -20
print("Absolute value of -20 is",abs(integer))

floating = -20.675
print("Absolute value of -20.675 is",abs(floating))

complex1 = -20 - 5j
print("Absolute value of -20-5j is",abs(complex1))

Absolute value of -20 is 20
Absolute value of -20.675 is 20.675
Absolute value of -20-5j is 20.615528128088304

In [31]:
# python all() function

k=[1,3,4,6]
print(all(k)) #return true

k=[0,False]
print(all(k)) #return false

k=[1,0,3,5]
print(all(k)) #return false

k=[]
print(all(k)) #return true

k=[-2,-1]
print(all(k))

True
False
False
True
True

In [20]:
# python bin() function
# It always starts with prefix 0b

x=10
y=bin(x)
print(y)

0b1010

In [22]:
#exec() function & accepts single expression
x=8
exec('print(x==8)') #returns true
exec('print(x+4)') #returns 12

True
12

In [24]:
#sum() function

s=sum([1,2,3,5])
print(s)

11

In [30]:
#any() function
k=[1,3,4,6]
print(any(k)) #return true

k=[0,False]
print(any(k)) #return false

k=[1,0,3,5]
print(any(k)) #return true, if at least any one value is True

k=[]
print(any(k)) #return false


k=[-2,-1]
print(any(k)) #return true

True
False
True
False
True

In [38]:
#format() function

# d,f,b and o are a type
#integer
print(format(28,"d"))

#floating arguments
print(format(28.782,"f"))

#binary format
print(format(28,"b"))

#Octal format
print(format(11,"o"))

28
28.782000
11100
13

In [39]:
#len() function
strA="Bajaj"
print(len(strA))

5

In [46]:
#list() function

49+++
#string
s='bajaj'
print(list(s))

#tuple
t=(1,2,3,4,5,6)
print(list(t))

#list
l=[1,3,5,7]
print(list(l))

['b', 'a', 'j', 'a', 'j']
[1, 2, 3, 4, 5, 6]
[1, 3, 5, 7]

In [48]:
#divmod() function - quotient and remainder is returned in tuple format

result = divmod(10,3)
print(result)

(3, 1)

In [50]:
# Write a Python function to find the Max of three numbers.
def max(a,b,c):
    if(a>b and a>c):
        print(a,"is the max.")
    elif(b>a and b>c):
        print(b,"is the max.")
    elif(c>b and c>a):
        print(c,"is the max.")
    else:
        print("Either of the two numbers are greater.")
max(2,16,12)

16 is the max.

In [52]:
# Write a Python function to sum all the numbers in a list.
# Sample List : (8, 2, 3, 0, 7)
def sum1(l):
    s=0
    for i in l:
        s+=i
    print("Sum of the elements in the list is",s)
sum1([8, 2, 3, 0, 7])

Sum of the elements in the list is 20

In [53]:
# Write a Python function to multiply all the numbers in a list.
# Sample List : (8, 2, 3, -1, 7)
def mul(l):
    s=1
    for i in l:
        s*=i
    print("The product of all the elements in the list is",s)
mul([8, 2, 3, -1, 7])

The product of all the elements in the list is -336

In [54]:
# Write a Python program to reverse a string.
# Sample String : "1234abcd"
s=input()
s1=s[::-1]
print(s1)

1234abcd
dcba4321

In [55]:
# Write a Python function to calculate the factorial of a number 
# (a non-negative integer). The function accepts the number as an argument.
def fact(n):
    s=1
    for i in range(1,n+1):
        s*=i
    print("The factorial of",n,"is",s)
fact(int(input("Enter a number to find factorial: ")))

Enter a number to find factorial: 5
The factorial of 5 is 120

In [58]:
# Write a Python function to check whether a number falls in a given range.
def check(n,a,b):
    if(n>=a and n<=b):
        print("The number",n,"falls in the given range",a,"to",b)
    else:
        print("The number",n,"does not falls in the given range",a,"to",b)
n=int(input("Enter a number: "))
a=int(input("Enter the starting value for range: "))
b=int(input("Enter the ending value for range: "))
check(n,a,b)

Enter a number: 10
Enter the starting value for range: 8
Enter the ending value for range: 108
The number 10 falls in the given range 8 to 108

In [59]:
# Write a Python program to print the even numbers from a given list.
def even(l):
    l1=[]
    for i in l:
        if(i%2==0):
            l1.append(i)
    print("The even numbers in the given list are: ",l1)
even([1,2,4,3,7,9,10,15,18,6,14])

The even numbers in the given list are:  [2, 4, 10, 18, 6, 14]